<div class="nav-side-menu">

    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a>
                    <i class="fa fa-gamepad fa-lg text text-center"></i> Inicio.
                </a>
            </li>
            <li [ngClass]="{'active': boolAgentes}">
                <a>
                    <i class="fa fa-users fa-lg text text-center"></i> Agentes.
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-comment fa-lg text text-center"></i> Sobre nosotros.
                </a>
            </li>
        </ul>
    </div>
</div>