<div class="card text-center mt-3">
    <div class="card-header">
        <strong>Listado de agentes</strong>
    </div>
    <div class="card-body image-background">
        <div class="row p-0 m-0">
            <div *ngFor="let agente of agentesValorant" class="card me-5 mt-4 bg-transparent text-white border border-white" style="width: 16rem;">
                <img src="{{agente.imagen}}" width="400px" class="card-img-top mt-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{agente.titulo}}</h5>
                </div>
                <ul class="list-group list-group-flush bg-transparent text-white">
                    <li class="list-group-item  bg-transparent text-white"><strong>Clase: </strong>{{agente.clase}}</li>
                    <li class="list-group-item  bg-transparent text-white"><strong>Nacionalidad: </strong>{{agente.nacionalidad}}</li>
                </ul>
                <div class="card-body mb-0 text-white">
                    <p class="card-text mb-0">{{agente.descripcion}}</p>
                    <hr class="mb-0" />
                </div>
                <div class="card-body pt-0 d-grid gap-2">
                    <a href="#" class="btn btn-primary estiloBtn" (click)="mensaje(agente)">Ver detalle</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="card-footer text-muted">
        2 days ago
    </div> -->
</div>